<!DOCTYPE html>
<html class="h-full bg-gray-100" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de alarma</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="h-full">
    <div class="min-h-full">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
                                alt="Your Company">
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <a href="index.php?view=alarm"
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                                    aria-current="page">Alarma</a>
                                <a href="index.php?view=alarmLogs"
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                                    aria-current="page">Registro de activacion</a>
                                <a href="index.php?view=detectionLogs"
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                                    aria-current="page">Registro de deteccion</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="hidden md:block relative">
                            <button id="user-menu-button"
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                                onclick="toggleDropdown()">Cuenta</button>
                            <div id="user-menu"
                                class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 ring-1 ring-black ring-opacity-5">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                    onclick="event.preventDefault(); event.stopPropagation(); logout();">Cerrar
                                    sesión</a>
                                <a href="index.php?view=users"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Gestion de
                                    usuarios</a>
                            </div>
                        </div>
                        <div class="-mr-2 flex md:hidden">
                            <button type="button"
                                class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                                aria-controls="mobile-menu" aria-expanded="false" onclick="toggleMobileMenu()">
                                <span class="sr-only">Open main menu</span>
                                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>
                                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:hidden hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3 shadow">
                    <a href="index.php?view=alarm"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Alarma</a>
                    <a href="index.php?view=alarmLogs"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Registro
                        de activacion</a>
                    <a href="index.php?view=detectionLogs"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Registro
                        de deteccion</a>
                    <div class="border-t border-gray-700"></div>
                    <a href=""
                        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                        onclick="event.preventDefault(); event.stopPropagation(); logout()">Cerrar sesión</a>
                    <a href="index.php?view=users"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Gestion
                        de usuarios</a>
                </div>
            </div>
        </nav>
        <header class="bg-white shadow">
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">I.E Los Gómez</h1>
            </div>
        </header>
        <main class="px-4 sm:px-6 lg:px-8 py-6">
            <div class="max-w-7xl mx-auto">
                <div class="overflow-x-auto">
                    <div class="sm:overflow-x-auto">
                        <div class="shadow overflow-x-auto border-b border-gray-200 sm:rounded-lg">
                            <div class="sm:flex sm:flex-row sm:justify-start sm:items-center sm:w-full">
                                <div class="w-full sm:w-auto">
                                    <div class="table-responsive">
                                        <table class="w-full table-fixed divide-y divide-gray-200">
                                            <!-- Tabla de alarmas -->
                                            <thead class="bg-gray-50">
                                                <tr>
                                                    <th scope="col"
                                                        class="sm:w-1/6 px-6 py-3 text-left text-xs sm:text-sm font-medium text-gray-500 uppercase tracking-wider">
                                                        Nombre
                                                    </th>
                                                    <th scope="col"
                                                        class="sm:w-2/6 px-6 py-3 text-left text-xs sm:text-sm font-medium text-gray-500 uppercase tracking-wider hidden sm:table-cell">
                                                        <!-- Ocultar en dispositivos móviles -->
                                                        Descripción
                                                    </th>

                                                    <th scope="col"
                                                        class="sm:w-1/6 px-6 py-3 text-left text-xs sm:text-sm font-medium text-gray-500 uppercase tracking-wider">
                                                        Estado
                                                    </th>
                                                    <th scope="col"
                                                        class="sm:w-1/6 px-6 py-3 text-left text-xs sm:text-sm font-medium text-gray-500 uppercase tracking-wider">

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                                <tr>
                                                    <td class="px-6 py-4 whitespace-nowrap sm:w-1/6">
                                                        <div class="text-xs sm:text-sm text-gray-900 break-all"
                                                            style="word-wrap: break-word;">Laser</div>
                                                    </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-nowrap sm:w-2/6 hidden sm:table-cell">
                                                        <!-- Añade la clase 'hidden' para ocultar en móviles -->
                                                        <div class="text-xs sm:text-sm text-gray-900 break-all"
                                                            style="word-wrap: break-word;">Alarma Perimetral</div>
                                                    </td>
                                                    <td class="px-6 py-4 whitespace-nowrap sm:w-1/6 status-label">
                                                        <span id="alarmState"
                                                            class="text-xs sm:text-sm text-black-800"></span>
                                                    </td>
                                                    <td
                                                        class="px-6 py-4 whitespace-nowrap sm:w-1/6 text-xs sm:text-sm font-medium">
                                                        <div class="flex items-center justify-center sm:flex-wrap">
                                                            <!-- Add 'justify-center' class to center the buttons -->
                                                            <button onclick="turnOnAlarm();"
                                                                class="py-1 px-3 sm:px-2 mr-2 bg-green-500 text-white rounded-lg">
                                                                <i class='bx bx-power-off'></i>
                                                            </button>
                                                            <button onclick="turnOffAlarm();"
                                                                class="py-1 px-3 sm:px-2 mr-2 bg-red-500 text-white rounded-lg">
                                                                <i class='bx bx-power-off'></i>
                                                            </button>
                                                            <button onclick="showMainMenu();"
                                                                class="py-1 px-3 sm:px-2 mr-2 bg-blue-500 text-white rounded-lg">
                                                                <i class='bx bx-cog'></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../assets/alarm.js"></script>
</body>

</html>